@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #84c9ef;
}

.login-box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  overflow: hidden;
  border-radius: 24px;
}

.login-page .login-box .form-box {
  background-color: whitesmoke;
  width: 50%;
}

.login-box .image {
  width: 50%;
  overflow: hidden;
}

.login-box .image img {
  height: 100%;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 25px 30px;
  position: relative;
  margin: 0 auto;
}

.login-page form .username,
.login-page form .password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-page .form-box .logo {
  display: flex;
  align-items: center;
  padding: 3px 25px;
}

.login-page .form-box .logo img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.login-page .form-box .logo span {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
  font-family: "Playfair Display", serif;
}

.login-page form .text p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.login-page .text span {
  font-size: 15px;
  font-weight: 300;
}

.login-page input {
  width: 100%;
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.login-page .button {
  background: #e3b1d2;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 30px;
}

.login-page .button:hover {
  background: #b4d2ed;
}

/* ERROR MESSAGE */
.login-page form .error {
  background-color: red;
  width: auto;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  border-radius: 30px;
}

.login-page form .error p {
  color: white;
}

/* SIDEBAR */
#sidebar {
  background-color: #0b0f19;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  transition: all 0.25s ease-in-out;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

#sidebar.minimize {
  width: 90px;
  min-width: 90px;
}

#sidebar .sidebar-widget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1.5px solid #606164;
}

#sidebar .toggle-btn {
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 0.425rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323c55;
  border: none;
}

#sidebar.minimize .sidebar-logo,
#sidebar.minimize a.sidebar-link span {
  display: none;
}

#sidebar .sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 2px;
}

#sidebar .sidebar-nav {
  padding: 0;
  flex: 1 1 auto;
}

#sidebar a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: block;
  font-weight: 700;
  white-space: nowrap;
  border-left: 3px solid transparent;
  text-decoration: none;
}

#sidebar .sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

#sidebar .sidebar-item {
  position: relative;
  margin: 5px 0;
}

#sidebar a.sidebar-link:hover,
#sidebar .sidebar-item.active {
  background-color: #aeaeae29 !important;
  border-left: 3px solid #7257f2 !important;
}
/* SIDEBAR END */

/* DASHBOARD MAIN */
.dashboard-container {
  display: flex;
}

.dashboard-container .main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.25 ease-in-out;
  background-color: #fff;
}

.dashboard-container nav {
  display: flex;
  padding: 1rem 1.5rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-shadow: 0 0 2rem rgba(33, 37, 41, 0.1);
}

.dashboard-container .main form {
  display: none;
}

.dashboard-container nav .nav-content {
  min-width: 200px;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

.dashboard-container nav .nav-content .nav-account {
  margin-left: auto;
}

.dashboard-container nav .nav-content .avatar {
  width: 40px;
  height: 40px;
}

.dashboard-container nav .nav-content .user-link {
  position: relative;
  list-style: none;
}

.dashboard-container nav .user-link-dropdown {
  display: none;
}

.dashboard-container nav .user-link-dropdown.show {
  position: absolute;
  right: 0;
  left: auto;
  margin-top: 1rem;
  background-color: #fff;
  padding-top: 0.5rem;
  box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.15);
}

.dashboard-container nav .nav-account .user-dropdown {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  color: #212529;
  white-space: nowrap;
  clear: both;
}

.dashboard-container nav .nav-account .user-dropdown i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

.divider {
  margin: 0.5rem;
}
/* DASHBOARD MAIN END */
